<li class="post_item">
  <div class="excerpt">
    <div class="excerpt_header">
      <h3 class="post_link">
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify  }}</a>
      </h3>
      {{ partial "post-meta" . }}
    </div>
    {{- with .Params.thumbnail }}
    <div class="excerpt_footer partition">
      <div class="excerpt_thumbnail">
        {{- partial "image" (dict "file" . "alt" $.Title "type" "thumbnail" "Page" $.Page ) }}
      </div>
      {{ else }}
      <div class="excerpt_footer">
        {{- end }}
        <div class="pale">
          {{- $summary := "" }}

          {{- if .Params.summary }}
            {{- $summary = .Params.summary }}
          {{- else if .Params.abstract }}
            {{- $summary = .Params.abstract }}
          {{- else if in .RawContent "<!--more-->" }}
            {{- $parts := split .RawContent "<!--more-->" }}
            {{- $summary = index $parts 0 }}
          {{- else if in .RawContent "***" }}
            {{- $parts := split .RawContent "***" }}
            {{- $summary = index $parts 0 }}
          {{- else }}
            {{- $summary = .Summary }}
          {{- end }}

          {{/* чистим картинки и ссылки */}}
          {{- $summary = replaceRE `!\[[^\]]*\]\([^)]*\)` "" $summary }}
          {{- $summary = replaceRE `\[(.*?)\]\([^)]*\)` "$1" $summary }}

          {{/* убираем разметку */}}
          {{- $summary = markdownify $summary }}

          <p>{{ $summary }}</p>

          <br>
          {{- $r := T "read_more" }}
          <a href="{{ .Permalink }}" title="{{ $r }}" class="excerpt_more button">{{ $r }}</a>
        </div>

      </div>
    </div>
  </li>
